<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body class="home-page">
    <%- include("../partials/nav.ejs") %>
    
    <form action="/auth/login" class="home-login" METHOD="POST">
        <%- include("../partials/messages") %>
        <h2>Login</h2>
        <label>Email</label>
        <input type="email" name="email" value="<% typeof email != 'undefined' ? email : '' %>"/>
        <label>Password</label>
        <input type="password" name="password" id="" />
        <button type="submit" class="btn">Login</button>
    </form>
</body>
</html>