.admin-page{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.247);
}

.form-container {
    background-color: rgba(128, 128, 128, 0.288);
    padding: 10px;
    margin-bottom: 20px;
}

.view-modal-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5%;



    .view-modal-inner{
        
        border-radius: 30px;
        width: 100%;
        height: 100%;
        background-color:white;
        position: relative;
        .view-modal-close-btn{
            position: absolute;
            top: 10px;
            right: 15px;
            border: thin solid black;

            &:hover{
                cursor: pointer;
                color: lighten(black, 10%);
            }
        }


        .view-modal-header{
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight:bold;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h2{
                width: fit-content;
            }
        }
    }
}

.edit-btn {
    background-color: rgb(122, 194, 243);
    max-width: 300px;
    &:hover{
        cursor: pointer;
        background-color: lighten(rgb(122, 194, 243), 10%);
    }
}

.delete-btn {
    background-color: rgb(230, 107, 107);
    max-width: 300px;
    &:hover{
        cursor: pointer;
        background-color: lighten(rgb(230, 107, 107), 10%);
    }
}

.table-container {
    // border: thin solid purple;
    margin: 5%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: rgba(123, 128, 128, 0.582);
    // background-color: rgb(255, 166, 0);

    .table-header {
        background-color: white;
        border-radius: 10px;
        &>ul {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            color: rgb(19, 119, 185);
            
            &>li {
                width: 30%;
                font-size: 1.6rem;
                font-weight: 400;
                margin: 10px;
                padding: 5px;
            }
        }

        .table-filter {

            &>li{
                border: thin solid rgba(0, 112, 146, 0.479);
                border-radius: 50px;
                padding: 5px;
                font-size: 1rem;
                text-indent: 10px;

            }

            
        }
    }

    .table-body{
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-top: 5px;
        &>li {
            text-indent: 10px;
            width: 30%;
            font-size: 1.1rem;
            font-weight: 400;
            margin:10px;
            padding: 5px;
        }
    }

    .table-options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 5px;
        margin-top: 5px;

        &>li{
            margin-inline: 10px;
        }
    }
}

.btn {
    background-color: #428ffa;
    padding-inline: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 2px;
    font-weight: 500;
    color: rgb(240, 240, 240);
    transition: all 0.1s ease-in-out;
    font-size: 1rem;

    &:hover{
        cursor: pointer;
        background-color: lighten(#428ffa, 10%);
    }
}