.dashboard-container{
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    &>li {
        width: 25%;
        height: 200px;
        margin: 25px;
        border-radius: 30px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        a {
            border: medium solid orange;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            text-align: center;
            font-size: 2rem;
            font-weight: 200;
            background-color:rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.1s ease-in-out;
            background-color: white;
            
            &:hover {
                background-color: orange;
            }
        }
    }
}