.title-text {
    padding-top: 10px;
    font-size: 5rem;
    text-align: center;
    color: $primary;

    margin-bottom: 30px;
}

form{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color:rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 10px;
    max-width: 400px;
    margin: 0 auto;
    // border: thin solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;

    label{
        color: rgb(2, 80, 94);
        font-weight: 600;
    }
    *{
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-inline: 5px;
    }
    input,option, select{
        background-color: rgba(107, 107, 107, 0.774);
        color: white;
        border-radius: 20px;
        // border: thin solid rgb(94, 94, 94);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline:15px;
    }

    // custom container for checkbox
    .form-checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 35px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        // On mouse-over, add a grey background color
        &:hover input ~ .form-checkmark {
            background-color: #ccc;
        }

        // When the checkbox is checked, add a blue background
        input:checked ~ .form-checkmark {
            background-color: #2196F3;
        }

        // Show the checkmark when clicked
        input:checked ~ .form-checkmark:after {
            display: block;
        }

        // style the checkmark/indicator
        .form-checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        // hide the browser's default checkbox
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        // Create a custom checkbox
        .form-checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            
            // Create the checkmark/indicator (hidden when not checked)
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }
   
    h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
    }
}

.home-page {
    background-color:rgb(212, 212, 212);
    .container-splash {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/onion-splash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        
    }
}

html, body {
    height: 100%;
    margin: 0; 
}
