.title-text {
    padding-top: 10px;
    font-size: 5rem;
    text-align: center;
    color: $primary;

    margin-bottom: 30px;
}

form{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color:rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 10px;
    max-width: 400px;
    margin: 0 auto;
    // border: thin solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;

    label{
        color: rgb(2, 80, 94);
        font-weight: 600;
    }
    *{
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-inline: 5px;
    }
    input{
        background-color: rgba(107, 107, 107, 0.774);
        color: white;
        border-radius: 20px;
        // border: thin solid rgb(94, 94, 94);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline:15px;
    }
    h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
    }

}

.home-page {
    background-color:rgb(212, 212, 212);
    .container-splash {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/onion-splash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        
    }
}

html, body {
    height: 100%;
    margin: 0; 
}
