.title-text {
    padding-top: 10px;
    font-size: 5rem;
    text-align: center;
    color: #202c2d;
    text-shadow:
        0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5,
        -3px 4px #808d93,
        -4px 3px #cdd2d5;
    margin-bottom: 30px;
}

form{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color:rgba(255, 255, 255, 0.664);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 10px;
    max-width: 400px;
    margin: 0 auto;
    // border: thin solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;

    label{
        color: rgb(2, 80, 94);
        font-weight: 600;
    }
    *{
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-inline: 5px;
    }
    input{
        background-color: rgba(107, 107, 107, 0.774);
        color: white;
        border-radius: 20px;
        // border: thin solid rgb(94, 94, 94);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline:15px;
    }
    h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
    }

}

.home-page {
    background-color:rgb(212, 212, 212);
}
