.home-title {
    padding-top: 10px;
    font-size: 4rem;
    text-align: center;
}

form{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-bottom: black solid thin;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 10px;

    label{
        color: $primary;
        font-weight: 600;
    }
    *{
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-inline: 5px;
    }
    input{
        background-color: rgba(207, 173, 23, 0.582);
        color: rgb(59, 59, 59);
        border-radius: 20px;
        // border: thin solid rgb(94, 94, 94);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline:15px;
    }
    h2{
        font-size: 1.8rem;
    }

    button{
        padding-inline: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: green;
                border-radius: 10px;
                text-transform:uppercase;
                text-align: center;
                width: 95%;

                &:hover{
                    cursor: pointer;
                    background-color: lighten(green, 10%);
                }
    }
}
a{
    background-color: orange;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 10px;
    color: white;
    &:hover{
        cursor: pointer;
        color: lighten(orange, 10%);
    }
}
