@import 'reset';

// Home page

.text-2xl{
    font-size: 5rem;
}

// Font sizes
// Padding
// Margin
// Text colors
// Gird layout styles / flexbox

.flex {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}

.flex-justify{
    justify-content: center;
}

.align-center{
    align-items: center;
}

input{
    background-color: gray;
    font-size: 2rem;
    padding: 5px;
}