<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/header.ejs") %>
<body>
 
    
    <%- include("../partials/nav.ejs") %>
    
    <div class="w-screen h-screen bg-[url('/images/admin-background.jpg')] bg-gradient-to-b from-gray-900 to bg-gray-500">
      <!-- <img class="object-cover h-full w-full mix-blend-overlay" src="/images/admin-background.jpg" alt="" srcset=""> -->
      <h1 class="title-text text-center text-5xl py-10">Admin Dashboard</h1>
      
      <ul class="dashboard-container grid grid-cols-5 gap-4 mx-24">
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/member.jpg" alt="members" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/member">Member Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/certification.jpg" alt="certificates" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/certificate">Certificate Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/contractor.jpg" alt="contractor" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/contractor">Contractor Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/course.jpg" alt="course" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/course">Course Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/dispatch.jpg" alt="dispatch" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/dispatch">Dispatch Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/training.jpg" alt="training session" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/trainingSession">Training Session Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/user.jpg" alt="users" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/admin/user">User Management</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/payment.jpg" alt="payments" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/">Payments</a></button>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl">
                <figure><img src="../images/reports.jpg" alt="reports" /></figure>
                <div class="card-body">
                  <!-- <h2 class="card-title">Member Management</h2> -->
                  <div class="card-actions justify-center w-full">
                    <button class="btn bg-blue-800 text-md"><a href="/">Reports</a></button>
                  </div>
                </div>
              </div>
          </li>
      </ul>
    </div>
</body>
</html>