<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/header.ejs") %>
<body>
 
    
    <%- include("../partials/nav.ejs") %>
    
    <div class="w-screen h-fit  bg-gray-700 py-12">
      <!-- <h1 class="title-text text-center text-5xl py-10 text-gray-100">Admin Dashboard</h1> -->
      <div class="stats shadow mx-auto flex justify-center align-center pt-10 pb-3 mb-10 bg-orange-800">
  
        <div class="stat w-fit ">
          <!-- <div class="stat-title">Admin Dashboard</div> -->
          <div class="stat-value">Admin Dashboard</div>
          <!--<div class="stat-desc">21% more than last month</div> -->
        </div>
        
      </div>
      <ul class="w-screen grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 2xl:grid-cols-4">
          <li class="flex items-center justify-center">
            <a href="/admin/member">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/member.jpg" alt="members" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Member Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="/admin/certificate">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/certification.jpg" alt="certificate" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Certificate Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="/admin/contractor">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/contractor.jpg" alt="contractor" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Contractor Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="/admin/dispatch">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/dispatch.jpg" alt="dispatch" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Dispatch Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="/admin/trainingSession">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/training.jpg" alt="training" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Training Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="/admin/user">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/user.jpg" alt="user" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">User Management</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="#">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/payment.jpg" alt="payments" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Payments</h2>
                </div>
              </div>
            </a>
          </li>
          <li class="flex items-center justify-center">
            <a href="#">
              <div class="card w-72 bg-base-100 bg-slate-900 shadow-xl hover:scale-110 hover:bg-lime-800  transition-all duration-500 ease-in-out">
                <figure><img src="../images/reports.jpg" alt="reports" /></figure>
                <div class="card-body p-0">
                    <h2 class="text-center w-full py-4 text-lg">Reports</h2>
                </div>
              </div>
            </a>
          </li>
      </ul>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>