<div class="navbar">
    <h3 class="site-title"><a href="/"><img class="nav-image" src="../images/liuna-logo.png" alt=""></a></h3>
    <nav>
        <ul class="container">
            <li><a class="btn btn-nav" href="/">Home</a></li>
            <li><a class="btn btn-nav" href="/admin">Admin Dashboard</a></li>
            <li><a class="btn btn-nav" href="/member">Member Dashboard</a></li>
            <li><a class="btn btn-nav" href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

