<ul class="fetch-view-results table-container">
    <ul class="data-buttons table-options">
        <li><button class="fetch-view-btn btn">Refresh</button></li>
        <li><button id="fetch-add-btn" class="btn">Add</button></li>
    </ul>
        <li class="table-header">
            <ul>
                <li>Name</li>
                <li>Member #</li>
                <li>Role</li>
            </ul>
            <ul class="table-filter">
                <li><input type="text" placeholder="filter name"></li>
                <li><input type="text" placeholder="filter #"></li>
                <li><input type="text" placeholder="filter role"></li>
            </ul>
        </li>
</ul>