<ul class="fetch-view-results table-container">
    <ul class="data-buttons table-options">
        <li><button class="fetch-view-btn btn">Refresh</button></li>
        <li><button id="fetch-add-btn" class="btn">Add</button></li>
    </ul>
        <li class="table-header">
            <ul>
                <% fields.forEach(x => { %>
                    <li><%= x.label %></li>
                <% }) %>
            </ul>
            <ul class="table-filter">
                <% fields.forEach(x => { %>
                    <li><input type="text" placeholder="<%= x.placeholder %>"></li>
                <% }) %>
            </ul>
        </li>
</ul>