<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <!-- Navbar -->
    <%- include("../../partials/nav.ejs") %>
    
    <!-- Title -->
    <h1 class="title-text">User Management</h1>

    <!-- Table -->
    <ul class="fetch-view-results table-container ">
        <ul class="data-buttons table-options">
            <li><button class="fetch-view-btn btn">Refresh</button></li>
            <li><button id="fetch-add-btn" class="btn">Add</button></li>
        </ul>
            <li class="table-header">
                <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Verified</li>
                    <li>Theme</li>
                    <li>Member Number</li>
                    <li>Date</li>
                    <li>Role</li>
                    <li>Edit</li>
                </ul>
                <ul class="table-filter">
                    <li><input type="text" placeholder="Name"></li>
                    <li><input type="text" placeholder="Email"></li>
                    <li><input type="text" placeholder="Verified"></li>
                    <li><input type="text" placeholder="Theme"></li>
                    <li><input type="text" placeholder="Member Number"></li>
                    <li><input type="text" placeholder="Date"></li>
                    <li><input type="text" placeholder="Role"></li>
                </ul>
            </li>
    </ul>
    <!-- Add Modal -->
    <section class="view-modal-container hide"> 
        <div class="view-modal-inner">
            <button class="btn view-modal-close-btn">X</button>
            <div class="view-modal-header">
                <h2>User</h2>
            </div>
            <div class="view-modal-body">
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="view-name" disabled>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="view-email" disabled>
                    
                    <label for="view-verified">Verified</label>
                    <div class="form-checkbox-container">
                        <input type="checkbox" name="verified" id="view-verified" checked="checked" disabled> 
                        <span class="form-checkmark"></span>
                    </div>

                    <label for="theme">Theme</label>
                    <input type="text" name="theme" id="view-theme" disabled>
                    <label for="memberNumber">Member Number</label>
                    <input type="text" name="memberNumber" id="view-memberNumber" disabled>
                    <label for="date">Date</label>
                    <input type="text" name="date" id="view-date" disabled>
                    <label for="role">Role</label>
                    <input type="text" name="role" id="view-role" disabled>
                    
                    <button class="form-submit btn hide" type="submit">Submit New User</button>
                    <button class="btn edit-btn view-edit-button">Edit</button>
                    <button class="btn edit-confirm-btn view-edit-confirm-btn hide" disabled>Confirm Edit</button>
                    <button class="btn delete-btn view-delete-button">Delete</button>
                </form>
            </div>
            <div class="view-modal-footer">
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/user.js"></script>
    
</body>
</html>