<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <!-- Navbar -->
    <%- include("../../partials/nav.ejs") %>
    
    <!-- Title -->
    <h1 class="title-text text-5xl text-center text-slate-300 bg-slate-800 pt-28 pb-5">User Management</h1>
    <div class="overflow-x-auto m-10 h-screen overflow-y-auto ">
        <ul class="data-buttons table-options flex justify-start my-1">
            <li><button class="fetch-view-btn btn btn-primary mr-10 shadow-lg">Refresh</button></li>
            <li><label for="modal" id="fetch-add-btn" class="btn btn-secondary mr-10 shadow-lg modal-button">Add</label></li>
        </ul>
        <table class="table w-full table-compact shadow-xl ">
          <!-- head -->
          <thead>
            <tr class="">
              <!-- <th></th> -->
              <th>Name</th>
              <th>Email</th>
              <th>Verified</th>
              <th>Theme</th>
              <th>Member Number</th>
              <th>Date</th>
              <th>Role</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody class="fetch-view-results">
            <!-- row 1 -->
            <tr>
                <!-- <th>1</th> -->
                <td><input type="text" placeholder="Name" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Email" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Verified" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Theme" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Member Number" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Date" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Role" class="input w-full max-w-xs bg-slate-600"></td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </div>

    <!-- Table -->
    <!-- <ul class="fetch-view-results table-container ">
        <ul class="data-buttons table-options">
            <li><button class="fetch-view-btn btn">Refresh</button></li>
            <li><button id="fetch-add-btn" class="btn">Add</button></li>
        </ul>
            <li class="table-header">
                <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Verified</li>
                    <li>Theme</li>
                    <li>Member Number</li>
                    <li>Date</li>
                    <li>Role</li>
                    <li>Edit</li>
                </ul>
                <ul class="table-filter">
                    <li><input type="text" placeholder="Name"></li>
                    <li><input type="text" placeholder="Email"></li>
                    <li><input type="text" placeholder="Verified"></li>
                    <li><input type="text" placeholder="Theme"></li>
                    <li><input type="text" placeholder="Member Number"></li>
                    <li><input type="date" placeholder="Date"></li>
                    <li><input type="text" placeholder="Role"></li>
                </ul>
            </li>
    </ul> -->
    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="modal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-box relative bg-slate-600">
            <label for="modal" id="view-modal-close-btn" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">User</h3>
            <p class="py-4">Update user records</p>

            <div class="view-modal-body">
                <form action="" class="grid grid-cols-2 gap-2">
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Name</span>
                            <input type="text" name="name" id="view-name" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Email</span>
                            <input type="email" name="role" id="view-email" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Verified</span>
                            <input type="checkbox" name="verified" id="view-verified" class="checkbox" disabled />
                            <span></span>
                        </label>
                    </div>


                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Theme</span>
                            <select class="select select-bordered" name="view-theme" id="view-theme" disabled>
                                <option value="light">Light</option>
                                <option value="dark">Dark</option>
                            </select>
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Member Number</span>
                            <input type="number" name="memberNumber" id="view-memberNumber" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Date</span>
                            <input type="date" name="date" id="view-date" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Role</span>
                            <select class="select select-bordered" name="view-role" id="view-role" disabled>
                                <option value="admin">Admin</option>
                                <option value="member">Member</option>
                            </select>
                        </label>
                    </div>


                        <button class="btn hidden col-span-2" id="form-submit" type="submit">Submit New Member</button>
                        <button class="btn edit-btn view-edit-button">Edit</button>
                        <button class="btn edit-confirm-btn view-edit-confirm-btn hidden" disabled>Confirm Edit</button>
                        <button class="btn delete-btn view-delete-button">Delete</button>
                   
                </form>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %>
    
    <!-- Add Modal -->
    <!-- <section class="view-modal-container hide"> 
        <div class="view-modal-inner">
            <button class="btn view-modal-close-btn">X</button>
            <div class="view-modal-header">
                <h2>User</h2>
            </div>
            <div class="view-modal-body">
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="view-name" disabled>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="view-email" disabled>

                    <label for="view-verified">Verified</label>

                    <div class="form-checkbox-container">
                        <input type="checkbox" name="verified" id="view-verified" > 
                        <span class="form-checkmark"></span>
                    </div>

                    <label for="theme">Theme</label>
                    <select name="themSelect" id="view-theme">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                    <label for="memberNumber">Member Number</label>
                    <input type="number" name="memberNumber" id="view-memberNumber" disabled>
                    <label for="date">Date</label>
                    <input type="date" name="date" id="view-date" disabled>
                    <label for="role">Role</label>
                    <select name="roles" id="view-role">
                        <option value="admin">Admin</option>
                        <option value="member">Member</option>
                    </select>
                    <button class="form-submit btn hide" type="submit">Submit New User</button>
                    <button class="btn edit-btn view-edit-button">Edit</button>
                    <button class="btn edit-confirm-btn view-edit-confirm-btn hide" disabled>Confirm Edit</button>
                    <button class="btn delete-btn view-delete-button">Delete</button>
                </form>
            </div>
            <div class="view-modal-footer">
            </div>
        </div>
    </section> -->

    <script type="text/javascript" src="../js/user.js"></script>
    
</body>
</html>