<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="hero min-h-screen bg-gradient-to-tr from-gray-700 to-gray-900 relative">
      <img class="object-cover h-full w-full mix-blend-overlay" src="/images/contact.jpg" alt="" srcset="">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Contact us</h1>
          <p class="py-6 text-orange-400 font-bold text-2xl">Send us any feedback or questions you may have.</p>
          <form action="mailto:antoniosansotta@gmail.com">
            <div class="form-control">

                <label class="input-group input-group-vertical my-5">
                  <span>Email</span>
                  <input type="text" placeholder="info@site.com" class="input input-bordered" />
                </label>
              </div>
              <div class="form-control">

                <label class="input-group input-group-vertical my-5">
                  <span>Subject</span>
                  <input type="text" class="input input-bordered" />
                </label>
              </div>
              <div class="form-control"">

                <label class="input-group input-group-vertical my-5">
                  <span>Body</span>
                  <textarea class="textarea textarea-bordered"></textarea>
                </label>
              </div>
              <button class="btn w-full" type="submit">Submit</button>
          </form>
          
        </div>
      </div>
    </div>
      <%- include("partials/footer.ejs") %>
</body>
</html>