<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
    </nav>

    <h1>Home Page</h1>
    <form action="">
        <h2>Register</h2>
        <label>Email</label>
        <input type="email" />
        <label>Password</label>
        <input type="password" name="" id="" />
        <label>Confirm Password</label>
        <input type="password" name="" id="" />
        <button type="submit">Register</button>
    </form>
    <form action="">
        <h2>Login</h2>
        <label>Email</label>
        <input type="email" />
        <label>Password</label>
        <input type="password" name="" id="" />
        <button type="submit">Register</button>
    </form>
</body>
</html>