<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="hero min-h-screen bg-gradient-to-tr from-gray-700 to-gray-900 relative">
      <img class="object-cover h-full w-full mix-blend-overlay" src="/images/onion-splash2.jpg" alt="" srcset="">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Onion Membership Hub</h1>
          <p class="py-6 text-orange-400 font-bold text-2xl">One program to handle all things onions. Register, train, get certified, get assigned to dispatches, and more.</p>
          <a class="btn bg-green-800 border-transparent mx-5" href="/signup">Register</a>
          <button class="btn bg-orange-800 border-transparent mx-5"><a  href="/login">Login</a></button>
        </div>
      </div>
    </div>
      <%- include("partials/footer.ejs") %>
</body>
</html>