<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <%- include("../../partials/nav.ejs") %>
    
    <h1 class="title-text">Course Management</h1>

    <%- include("../../partials/table.ejs") %>
    
    <%- include("../../partials/modal.ejs", {title: 'Course'}, JSON.stringify(fields)) %>

    <script type="text/javascript" src="../js/course.js"></script>
</body>
</html>