<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <!-- Navbar -->
    <%- include("../../partials/nav.ejs") %>
    
    <!-- Title -->
    <h1 class="title-text text-5xl text-center text-slate-300 bg-slate-800 pt-28 pb-5">Course Management</h1>
    <div class="overflow-x-auto m-10 h-screen overflow-y-auto ">
        <ul class="data-buttons table-options flex justify-start my-1">
            <li><button class="fetch-view-btn btn btn-primary mr-10 shadow-lg">Refresh</button></li>
            <li><label for="modal" id="fetch-add-btn" class="btn btn-secondary mr-10 shadow-lg modal-button">Add</label></li>
        </ul>
        <table class="table w-full table-compact shadow-xl ">
          <!-- head -->
          <thead>
            <tr class="">
              <!-- <th></th> -->
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Renewal Length</th>
              <th>Renewal Length Units</th>
              <th>Length</th>
              <th>Length Units</th>
              <th>Certificate</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody class="fetch-view-results">
            <!-- row 1 -->
            <tr>
                <!-- <th>1</th> -->
                <td><input type="text" placeholder="Name" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Description" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Category" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Renewal Length" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Renewal Length Units" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Length" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Length Units" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Certificate" class="input w-full max-w-xs bg-slate-600"></td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </div>

    <input type="checkbox" id="modal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-box relative bg-slate-600">
            <label for="modal" id="view-modal-close-btn" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">Course</h3>
            <p class="py-4">Update course records</p>

            <div class="view-modal-body">
                <form action="" class="grid grid-cols-2 gap-2">
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Name</span>
                            <input type="text" name="name" id="view-name" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Description</span>
                            <input type="text" name="description" id="view-description" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical h-full">
                            <span>Category</span>
                            <select class="select select-bordered" name="category" id="view-category" disabled>
                            </select>
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Renewal Length</span>
                            <input type="number" name="renewalLength" id="view-renewalLength" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Renewal Length Units</span>
                            <select class="select select-bordered" name="renewalLengthUnits" id="view-renewalLengthUnits" disabled>
                                <option value="years" selected>Years</option>
                                <option value="months">Months</option>
                                <option value="days">Weeks</option>
                                <option value="days">Days</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Length</span>
                            <input type="number" name="length" id="view-length" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Length Units</span>
                            <select class="select select-bordered" name="lengthUnits" id="view-lengthUnits" disabled>
                                <option value="years" selected>Years</option>
                                <option value="months">Months</option>
                                <option value="days">Weeks</option>
                                <option value="days">Days</option>
                            </select>
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Certificate</span>
                            <select class="select select-bordered" name="certificate" id="view-certificate" disabled>
                            </select>
                        </label>
                    </div>

                        <label for="modal" class="btn hidden col-span-2" id="form-submit">Submit New User</label>
                        <button class="btn view-edit-btn">Edit</button>
                        <label for="modal" class="btn view-edit-confirm-btn hidden">Confirm Edit</label>
                        <label for="modal" class="btn view-delete-btn">Delete</label>
                </form>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %>
    <script type="module" src="../js/course.js"></script>
    
</body>
</html>