<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        <li>My Info</li>
        <li>My Certifications</li>
        <li>Availabel Dispatch</li>
        <li>My Upcoming Training</li>
        <li>Browse Available Training</li>
    </ul>
</body>
</html>