<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="bg-slate-600">

    <!-- Navbar -->
    <%- include("../../partials/nav.ejs") %>
    
    <!-- Title -->
    <h1 class="title-text text-5xl text-center text-slate-300 bg-slate-800 pt-28 pb-5">Member Management</h1>

    <div class="overflow-x-auto m-10 h-screen overflow-y-auto ">
        <ul class="data-buttons table-options flex justify-start my-1">
            <li><button class="fetch-view-btn btn btn-primary mr-10 shadow-lg">Refresh</button></li>
            <li><label for="modal" id="fetch-add-btn" class="btn btn-secondary mr-10 shadow-lg modal-button">Add</label></li>
        </ul>
        <table class="table w-full table-compact shadow-xl ">
          <!-- head -->
          <thead>
            <tr class="">
              <!-- <th></th> -->
              <th>Name</th>
              <th>Role</th>
              <th>User ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Status</th>
              <th>Member Number</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody class="fetch-view-results">
            <!-- row 1 -->
            <tr>
                <!-- <th>1</th> -->
                <td><input type="text" placeholder="Name" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Role" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="User ID" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="First Name" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Last Name" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Status" class="input w-full max-w-xs bg-slate-600"></td>
                <td><input type="text" placeholder="Member Number" class="input w-full max-w-xs bg-slate-600"></td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </div>

    <!-- The button to open modal -->

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="modal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-box relative bg-slate-600">
            <label for="modal" id="view-modal-close-btn" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">Member</h3>
            <p class="py-4">Update union member records</p>

            <div class="view-modal-body">
                <form action="" class="grid grid-cols-2 gap-2">
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Name</span>
                            <input type="text" name="name" id="view-name" class="input input-bordered" disabled />
                        </label>
                    </div>
                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Role</span>
                            <input type="text" name="role" id="view-role" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Select a User</span>
                            <select class="select select-bordered" name="view-userId" id="view-userId" disabled>

                            </select>
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>First Name</span>
                            <input type="text" name="firstName" id="view-firstName" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Last Name</span>
                            <input type="text" name="lastName" id="view-lastName" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3">
                        <label class="input-group input-group-vertical">
                            <span>Status</span>
                            <input type="text" name="status" id="view-status" class="input input-bordered" disabled />
                        </label>
                    </div>

                    <div class="form-control mb-3 col-span-2">
                        <label class="input-group input-group-vertical">
                            <span>Member Number</span>
                            <input type="text" name="memberNumber" id="view-memberNumber" class="input input-bordered" disabled />
                        </label>
                    </div>

                        <button class="btn hidden col-span-2" id="form-submit" type="submit">Submit New Member</button>
                        <button class="btn edit-btn view-edit-button">Edit</button>
                        <button class="btn edit-confirm-btn view-edit-confirm-btn hidden" disabled>Confirm Edit</button>
                        <button class="btn delete-btn view-delete-button">Delete</button>
                   
                </form>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %>
    <script type="module" src="../js/member.js"></script>
    
</body>
</html>