<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">
    <h1 class=>Member Management</h1>
    <ul class="data-buttons">
        <li><button class="fetch-view-btn">Refresh</button></li>
        <li><button class="fetch-add-btn">Add</button></li>
    </ul>

    <section class="form-container add-form" hidden>
        <h2>Add new member</h2>
        <form action="">
            <label >Name</label>
            <input id="add-full-name" type="text" placeholder="full name">
            <label>First Name</label>
            <input id="add-first-name" type="text" placeholder="First Name">
            <label>Last Name</label>
            <input id="add-last-name" type="text" placeholder="Last Name">
            <label>Role</label>
            <input id="add-role" type="text" placeholder="Role">
            <label>Member Number</label>
            <input id="add-member-number" type="text" placeholder="#" disabled>
            <label>Status</label>
            <input id="add-status" type="text" placeholder="status" >
            <button class="form-submit" type="submit">Submit New Member</button>
        </form>
    </section>

    <ul class="fetch-view-results">
            <li class="table-header">
                <ul>
                    <li>Name</li>
                    <li>Member #</li>
                    <li>Role</li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
    </ul>

    <section class="view-modal-container hide"> 
        <div class="view-modal-inner">
            <button class="view-modal-close-btn">X</button>
            <div class="view-modal-header">
                <h2>Modal Title</h2>
            </div>
            <div class="view-modal-body">
                <form action="">
                    <label >Name</label>
                    <input id="view-full-name" type="text" placeholder="full name">
                    <label>First Name</label>
                    <input id="view-first-name" type="text" placeholder="First Name">
                    <label>Last Name</label>
                    <input id="view-last-name" type="text" placeholder="Last Name">
                    <label>Role</label>
                    <input id="view-role" type="text" placeholder="Role">
                    <label>Member Number</label>
                    <input id="view-member-number" type="text" placeholder="#">
                    <label>Status</label>
                    <input id="view-status" type="text" placeholder="status" >
                    <button class="edit-btn" type="submit">Edit</button>
                    <button class="delete-btn" type="submit">Delete</button>
                </form>
            </div>
            <div class="view-modal-footer">

            </div>

        </div>
    </section>
    <a href="/">Home</a>
    <a href="/member">Member Dashboard</a>

    <script type="text/javascript" src="../js/member.js"></script>
</body>
</html>