<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <!-- Navbar -->
    <%- include("../../partials/nav.ejs") %>
    
    <!-- Title -->
    <h1 class="title-text">Member Management</h1>

    <!-- Table -->
    <ul class="fetch-view-results table-container ">
        <ul class="data-buttons table-options">
            <li><button class="fetch-view-btn btn">Refresh</button></li>
            <li><button id="fetch-add-btn" class="btn">Add</button></li>
        </ul>
            <li class="table-header">
                <ul>
                    <li>Name</li>
                    <li>Role</li>
                    <li>User ID</li>
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Status</li>
                    <li>Member Number</li>
                    <li>Edit</li>
                </ul>
                <ul class="table-filter">
                    <li><input type="text" placeholder="Name"></li>
                    <li><input type="text" placeholder="Role"></li>
                    <li><input type="text" placeholder="User ID"></li>
                    <li><input type="text" placeholder="First Name"></li>
                    <li><input type="text" placeholder="Last Name"></li>
                    <li><input type="text" placeholder="Status"></li>
                    <li><input type="text" placeholder="Member Number"></li>
                </ul>
            </li>
    </ul>
    <!-- Add Modal -->
    <section class="view-modal-container hide"> 
        <div class="view-modal-inner">
            <button class="btn view-modal-close-btn">X</button>
            <div class="view-modal-header">
                <h2>Member</h2>
            </div>
            <div class="view-modal-body">
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="view-name" disabled>
                    <label for="role">Role</label>
                    <input type="text" name="role" id="view-role" disabled>
                    <label for="view-userId">Select a User</label>
                    <select name="view-userId" id="view-userId" disabled></select> 
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="view-firstName" disabled>
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="view-lastName" disabled>
                    <label for="status">Status</label>
                    <input type="text" name="status" id="view-status" disabled>
                    <label for="memberNumber">Member Number</label>
                    <input type="text" name="memberNumber" id="view-memberNumber" disabled>
                    
                    <button class="form-submit btn hide" type="submit">Submit New Member</button>
                    <button class="btn edit-btn view-edit-button">Edit</button>
                    <button class="btn edit-confirm-btn view-edit-confirm-btn hide" disabled>Confirm Edit</button>
                    <button class="btn delete-btn view-delete-button">Delete</button>
                </form>
            </div>
            <div class="view-modal-footer">
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/member.js"></script>
    
</body>
</html>