<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Member Management</h1>
    <ul>
        <li><button class="testButton">View</button></li>
        <ul class="data-view">
            
        </ul>

        <li><button>Add</button></li>
        <li><button>Edt</button></li>
        <li><button>Delete</button></li>
    </ul>
    <a href="/">Home</a>
    <a href="/member">Member Dashboard</a>

    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>