<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">
    <h1 class=>Member Management</h1>
    <ul class="data-buttons">
        <li><button class="fetch-view-btn">View</button></li>
        <li><button class="fetch-add-btn">Add</button></li>
        <li><button class="fetch-edit-btn">Edit</button></li>
        <li><button class="fetch-delete-btn">Delete</button></li>
    </ul>

    <ul class="fetch-view-results">
            <li class="table-header">
                <ul>
                    <li>Name</li>
                    <li>Member #</li>
                    <li>Role</li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
    </ul>
    <a href="/">Home</a>
    <a href="/member">Member Dashboard</a>

    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>